/* -------------------------
* footer
---------------------------*/
footer {
	background: #ffbb5b;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
	@include mq(sp) {
		height: auto;
		display: block;
		padding: 30px 0;
	}
	.copyright {
		font-size: 12px;
    	color: #fff;
		@include mq(sp) {
			text-align: center;
		}
	}
}