/* -------------------------
* top
---------------------------*/
main.top_mainImg_wrap {
  margin-top: 13px;
  .img_content_wrap {
    width: 100%;
    height: 555px;
    background-image: url(../images/mainHeader_03@2x.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .name_block_wrap {
      display: flex;
      justify-content: space-between;
      width: 720px;
      margin: 0 auto;
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      .job_name {
        font-size: 20px;
        margin-right: 10px;
        letter-spacing: 0.05rem;
        color: #fff;
        text-align: right;
        font-family: $mainFonts;
      }
      .my_name {
        font-size: 64px;
        letter-spacing: .4rem;
        line-height: 1;
        color: #ffffff;
        text-shadow: 4px 0px 3px rgba(15, 37, 63, 0.8);
        font-family: $titleFonts;
      }
    }
    .top_mv_message_wrap {
      position: absolute;
      /* height: 130px; */
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(102, 102, 102, .3);
      display: flex;
      align-items: center;
      padding: 20px 0;
      .mv_inner_message {
        color: #fff;
        width: 63.5%;
        margin: 0 auto;
        font-size: 20px;
        letter-spacing: .2rem;
        line-height: 1.75;
      }
    }
  }
  /** about **/
  .about_content_wrap{
    margin: 107px auto 160px;
    max-width: 920px;
    width: 100%;
    .section_title {
      font-family: $titleFonts;
      font-size: 3.8rem;
      line-height: 1.2;
      letter-spacing: 1rem;
      margin-right: -1%;
      color: #666666;
      width: 100%;
      .about_first_txt {
        color: #ffbb5b;
      }
    }
    .about_inner_message {
      max-width: 920px;
      margin: 0 auto;
      position: relative;
      padding: 8px;
      background: rgb(255,158,21);
      background: linear-gradient(90deg, rgba(255,158,21,1) 0%, rgba(122,201,67,1) 50%, rgba(63,169,245,1) 100%);
      .bg_white {
        background: #fff;
        display: flex;
        justify-content: space-between;
        padding: 70px 10px 80px;
        position: relative;
        .about_my_photo {
          width: 295px;
          box-shadow: 25px 25px 53px -5px #8f8f8f;
          position: absolute;
          top: -100px;
          left: -145px;
        }
        .about_message {
          font-family: $titleFonts;
          font-weight: bold;
          font-size: 1.3rem;
          line-height: 3;
          letter-spacing: .6px;
          margin: 0 0 0 auto;
          padding-left: 190px;
        }
      }
    }
  }
  /** service **/
  .service_content_wrap {
    margin: 107px auto 160px;
    h2 {
      background: #b2ddfb;
      padding: 46px 0;
      font-family: $titleFonts;
      font-size: 3.8rem;
      line-height: 1.2;
      letter-spacing: 1rem;
      margin-right: -1%;
      color: #666666;
      width: 100%;
      .service_first_txt {
        color: #0082ff;
      }
    }
    .service_item_list {
      display: flex;
      justify-content: space-between;
      max-width: 920px;
      margin: 80px auto;
      .service_items {
        width: 30%;
        .service_name {
          font-size: 24px;
          text-align: center;
          font-family: $titleFonts;
          color: #5d5d5d;
          letter-spacing: 1px;
        }
        .item_name {
          color: #5d5d5d;
          text-align: center;
          margin: 30px 0;
          font-family: $titleFonts;
          letter-spacing: 2px;
        }
        .icon_wrap {
          width: 190px;
          height: 190px;
          border: 5px solid;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 60px auto 45px;
          .item_logo_wrap {
            width: 100px;
          }
        }
        .note_wrap {
          border-color: #ffbb5b;
        }
        .pencil_wrap {
          border-color: #77c066;
        }
        .dating_wrap {
          border-color: #0082ff;
        }
      }
    }
  }
  /** work **/
  .works_content_wrap {
    position: relative;
    &::after {
      /* background: #cff3d4; */
      position: absolute;
      content: "";
      background: #8f8f8f;
      height: 2px;
      top: 90px;
      right: 0;
      width: 60%;
      max-width: 1130px;
    }
    .works_inner {
      max-width: 920px;
      width: 100%;
      margin: 0 auto;
      padding: 46px 0;
      .section_title {
        font-family: $titleFonts;
        font-size: 3.8rem;
        line-height: 1.2;
        letter-spacing: 1rem;
        margin-right: -1%;
        color: #666666;
        width: 100%;
        .works_first_txt {
          color: #77c066;
        }
      }
    }
    .work_content {
      display: flex;
      justify-content: space-between;
      margin-top: 100px;
      flex-wrap: wrap;
      .work_item {
        width: 48%;
        margin-bottom: 60px;
        .works_coding {
          width: 100%;
          height: clamp(160px, 165px, 200px);
          outline: 1px solid #cff3d4;
          overflow: hidden;
          box-shadow: 27px 27px 0 -5px #cff3d4;
          position: relative;
          margin: 10px 0 30px;
        }
        .works_coding_caption {
          margin: 30px auto 0;
          font-family: $mainFonts;
          font-weight: 500;
          font-size: 16px;
          color: rgb(79, 79, 79);
          display: flex;
          justify-content: center;
          text-align: center;
        }
      }
    }
  }
  /** work **/
  #canvas-container {
    margin-top: -100px;
  }
  .contact_content_wrap {
    margin-top: -10px;
    background: #ffeece;
    .contact_message {
      margin-top: 90px;
      font-family: $titleFonts;
      letter-spacing: 0.55rem;
      text-decoration: underline;
      line-height: 2;
      font-size: 18px;
    }
    .alert_message {
      text-decoration: none;
      color: #d61d3f;
      letter-spacing: normal;
      font-size: 14px;
      margin-top: 30px;
    }
    .mail_form {
      width: 100%;
      max-width: 960px;
      margin: 90px auto 0;
      dl {
        width: 680px;
        overflow: hidden;
        margin: 0 auto;
        dt {
          clear: left;
          float: left;
          width: 25%;
          font-family: $mainFonts;
          color: #3e3e3e;
          letter-spacing: .1rem;
          span {
            color: #d61d3f;
            font-size: 12px;
          }
        }
        dd {
          padding-left: 25%;
          padding-bottom: 1.5%;
          margin-bottom: 2.5%;
          input {
            height: 25px;
            font-size: 14px;
            padding: 5px 10px;
          }
          textarea {
            font-size: 14px;
            padding: 5px 10px;
            resize: none;
          }
        }
      }
      .confirmation_screen {
        text-align: center;
        margin-top: 20px;
        .screen {
          display: inline-block;
          height: 54px;
          text-align: center;
          text-decoration: none;
          line-height: 54px;
          outline: none;
          padding: 0 2.5%;
          background-color: #d61d3f;
          border: 2px solid #d61d3f;
          color: #fff;
          line-height: 50px;
          font-weight: bold;
          width: 50%;
          font-size: 14px;
          letter-spacing: 0.2em;
          margin-bottom: 125px;
          cursor: pointer;
          transition: all 0.5s;
          &::before,
          &::after {
            position: absolute;
            z-index: -1;
            display: block;
            content: '';
          }
          &:hover {
              background-color: #ffffff;
              color: #d61d3f;
          }
        }
      }
    }
  }
}