//スライダー
@import url(https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css);

//リセット
@import 'reset';
//変数
@import 'variables';
//breakpoint
@import 'mixin';
//header
@import "header";
//main
@import "main";
//footer
@import "footer";

.test {
    color: blue;
    @include mq(sp) {
        color: yellow;
    }
}

/** module **/
.left_line {
    text-align: left;
    margin: 0 auto;
    @include mq(sp) {
        text-align: center;
    }
}
.center_line {
    text-align: center;
    @include mq(sp) {
        text-align: center;
    }
}
.right_line {
    text-align: right;
    margin: 0 auto;
    @include mq(sp) {
        text-align: center;
    }
}

