-
    const headerMenu = [
      //- {
      //-   pageLink: 'https://index.html',
      //-   pageName: 'top'
      //- },
      {
        pageLink: '../about/',
        pageName: 'About',
        //- childMenu: [
        //-   {
        //-     pageLink: 'philosophy.html',
        //-     pageName: '企業理念'
        //-   },
        //-   {
        //-     pageLink: 'message.html',
        //-     pageName: 'トップメッセージ'
        //-   },
        //-   {
        //-     pageLink: 'history.html',
        //-     pageName: '沿革'
        //-   }
        //- ]
      },
      {
        pageLink: 'https://ue-takuken.com/takuya_portfolio/index.php#service_content_wrap',
        pageName: 'Service',
        //- childMenu: [
        //-   {
        //-     pageLink: 'message.html',
        //-     pageName: 'メッセージ'
        //-   },
        //-   {
        //-     pageLink: 'person.html',
        //-     pageName: '社員紹介'
        //-   },
        //-   {
        //-     pageLink: 'guideline.html',
        //-     pageName: '募集要項'
        //-   }
        //- ]
      },
      {
        pageLink: 'index.php#works_content_wrap',
        pageName: 'Works'
      },
      {
        pageLink: 'index.php#contact_content_wrap',
        pageName: 'Contact'
      },
    ];