extends ./include/_layout
block var
  - metas = {}
  - metas.title = 'title'
  - metas.url = '/'
  - metas.imgpath = './images/'
  - metas.site_name = 'site_name'
  - metas.description = 'description'
  - metas.keywords = 'keywords'
block append meta
  +meta(metas)
  include ./include/_inc_meta_facebook
  +inc_meta_facebook(metas)
block title
  title #{metas.title}
block body
  main#topPage.top_mainImg_wrap
    .img_content_wrap 
      ul.name_block_wrap 
        li.block_name_01 
          ul.block_list01_wrap 
            li.job_name Codeing 
            li.my_name Takuya
        
        li.block_name_02
          ul.block_list01_wrap
            li.job_name Web Desiger
            li.my_name Kikuta
        
      .top_mv_message_wrap
        p.mv_inner_message
         |人から人へ思いをつなげる
         br
         |想像と可能性をひろげ、わくわくする
         br
         |そんなお手伝いができたら．．．

    article#content-inner-wrap
      section#about_content_wrap.about_content_wrap
        h2.section_title.right_line
          span.about_first_txt A
          |bout
        .about_inner_message
          .bg_white
            figure.about_my_photo
              img(src=metas.imgpath + "about_img@2x.jpg", alt="自画像")
            p.about_message 固定概念に囚われない、
              br
              |楽しい・面白いを大切にしています。
              br
              |お客様とのコミュニケーションを大切にし
              br
              |情報整理から問題点を洗い出し、
              br
              |わくわく出来るようなWEBサイトを制作します。