extends ./include/_layout
block var
  - metas = {}
  - metas.title = 'title'
  - metas.url = '/'
  - metas.imgpath = './images/'
  - metas.site_name = 'site_name'
  - metas.description = 'description'
  - metas.keywords = 'keywords'
block append meta
  +meta(metas)
  include ./include/_inc_meta_facebook
  +inc_meta_facebook(metas)
block title
  title #{metas.title}
block body
  h3  トーク落ちカウント

  table
    tr
      th(colspan=4) aaa
    tr
      td 時間
      td 業種
      td 決済者
      td 架電結果
    tr
      td
        .time 10:00~11:00
        p
          label(for="num1") 応答なし
          input#num1(type="number" min="10" max="100")
          span 件
        p
          label(for="num2") 応答あり
          input#num2(type="number" min="10" max="100")
          span 件